.home-light-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home-img {
  height: 90px;
  width: 90px;
}
.home-light {
  font-size: 40px;
  color: #1e293b;
  font-family: 'Roboto';
}
.home-dark-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}
.home-dark {
  font-size: 40px;
  color: #ffffff;
  font-family: 'Roboto';
}
.link {
  text-decoration: none;
}
